.container-produtos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column wrap;
    margin: 3vw;
    gap: 2vh;
}

.container-produtos div {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 5vw;
}